
@tailwind base;
@tailwind components;
@tailwind utilities;





@font-face {
    font-family: 'AvenirLight';
    src: url('/frontend-abhinavs/public/fonts/Avenir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }


  
  .cinzel-hero {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  
  .glory-glory{
    font-family: "Glory", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

  
  .noto-serif-devanagari-regular {
    font-family: "Noto Serif Devanagari", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

 
  .quicksand-forum-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  

  .forum-regular {
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  